<html>

<head>
    <title>Админка</title>
    <link href="/files/admin.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">Admin panel</div>
    </header>
    <div class="container">
        <h2>Feedbacks:</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Topic</th>
                <th>Message</th>
            </tr>
            {{if .feedbacks}} {{range .feedbacks}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Title}}</td>
                <td>{{.Message}}</td>
            </tr>
            {{end}} {{else}}
            <tr>
                <td colspan=3>Нет записей</td>
            </tr>
            {{end}}
        </table>
    </div>
</body>

</html>